* {
    padding: 0;
    margin: 0;
    list-style: none;
}


header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 15px 18%;
    transition: .3s;
    flex-wrap: wrap;
    align-content: space-between;
    flex-direction: row;
  }
  
  .logo img{
    max-width: 100%;
    width: 130px;
    height: auto;
  }
  
  .navlist {
    display: flex;
  }
  .navlist li{
    position: relative;
  }
  .navlist a{
    font-size: var(--p-font);
    color: var(--text-color);
    font-weight: 500;
    padding: 10px 27px;
  }
  
  .navlist a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: var(--main-color);
    bottom: -3px;
    left: 0;
    transition: ease .40s;
    
  }
  
  .navlist a:hover::after {
    width: 100%;
    
  }

  .navlist a:hover {
    color: red;
  }

  a {
    text-decoration: none;
  }