<section class="home" id="home">
    <div class="home-container">
        @* <div class="text-container">
            <h3 class="browse">Browse Now</h3>
            <p class="paragraph">Browse and look your favorite pokemon</p>
        </div> *@

        <div class="side-container">
            <div class="upper-container">
                <img class="side-img animate__animated animate__backInLeft" src="~/2.png" alt="">
                <img class="side-img animate__animated animate__bounce animate__repeat-3" src="~/3.png" alt="">
                <img class="side-img animate__animated animate__backInDown" src="~/4.png" alt="">
                <img class="side-img animate__animated animate__backInDown" src="~/5.png" alt="">
                <img class="side-img" src="~/6.png" alt="">
                <img class="side-img animate__animated animate__bounce animate__repeat-3" src="~/7.png" alt="">
                <img class="side-img animate__animated animate__backInRight" src="~/8.png" alt="">
            </div>

            <div class="lower-container">
                <img class="side-img lower" src="~/9.png" alt="">
                <img class="side-img lower" src="~/10.png" alt="">
                <img class="side-img lower" src="~/11.png" alt="">
                <img class="side-img lower" src="~/12.png" alt="">
                <img class="side-img lower" src="~/13.png" alt="">
            </div>
        </div>
    </div>
</section>